.btn
    &-fill
        color: #FFFFFF
        padding: 5px 40px
        font-weight: 500
        font-size: 12px
        line-height: 18px
        background: #111B47
        border-radius: 2px
        text-decoration: none
        border: 2px solid #111B47
        transition: color .3s ease, background .3s ease
        &:hover
            color: #111B47
            background: #FFFFFF
    &-outline
        color: #091133
        padding: 5px 54px
        font-weight: 500
        font-size: 16px
        line-height: 26px
        border-radius: 2px
        text-decoration: none
        border: 2px solid #091133
        transition: color .3s ease, background .3s ease
        &:hover
            color: #FFFFFF
            background: #091133
